* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e5f06f;
  flex-direction: column;
  position: relative;
}
h1 {
  position: absolute;
  font-size: 12vmin;
  color: #fff;
  opacity: 0.1;
}
.container {
  width: 100vmin;
  height: 100vmin;
  background: #363241;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.game-details {
  color: #fff;
  font-size: 3vmin;
  font-weight: 500;
  padding: 2vmin 3vmin;
  display: flex;
  justify-content: space-between;
}
.play-board {
  width: 100%;
  height: 100%;
  background: #201e27;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(34, 1fr);
}
.play-board .food {
  background-color: #e5f06f;
  border-radius: 5vmin;
}
.play-board .head {
  background-color: #f01313;
  border-radius: 5vmin;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}
.controls svg {
  color: white;
  font-size: 6vmin;
  padding: 1vmin;
  cursor: pointer;
  width: calc(100% / 4);

  text-align: center;
  transition: all 0.3s ease;
}

.controls svg:active {
  transform: scale(0.8);
}
svg:last-child {
  border-right: 0;
  border-left: 0;
}
